@import "variables";

.container
{
  height: calc(100vh - 79px);
  min-height: 568px;

  padding: 0 calc(130 / 1920 * 100vw);

  width: 100%;

  background: $grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }

.error{
  &.text{
    text-align: center;
    color: tomato;
    }
  }