@use "variables";

@font-face
{
  font-family: variables.$font1;
  src: url('/src/assets/fonts/Montserrat-Medium.ttf') format('truetype');
  }

@font-face
{
  font-family: 'Montserat-Bold';
  src: url('/src/assets/fonts/Montserrat-Bold.ttf') format('truetype');
  }

*, body
{
  font-family: 'Montserat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

h1
{
  font-family: 'Montserat-Bold';
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 44px;
  color: variables.$text-black;
  }

p
{
  padding: 0;
  margin: 0;
  font-family: variables.$font1;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: rgba(variables.$text-grey, 0.4);

  span
  {
	font-weight: bold;
	color: variables.$text-grey;
	}
  }